<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beckhoff.TwinCAT.Ads" version="4.4.7" targetFramework="net461" />
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="EntityFramework.de" version="6.2.0" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="Microsoft.UI.Xaml" version="2.4.3" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.17" targetFramework="net461" />
  <package id="MySql.Data.EntityFramework" version="8.0.17" targetFramework="net461" />
  <package id="OxyPlot.Core" version="2.0.0" targetFramework="net461" />
  <package id="OxyPlot.Wpf" version="2.0.0" targetFramework="net461" />
  <package id="PresentationFramework.Aero2" version="1.0.1" targetFramework="net461" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net461" />
  <package id="Vlc.DotNet.Core" version="3.1.0" targetFramework="net461" />
  <package id="Vlc.DotNet.Core.Interops" version="3.1.0" targetFramework="net461" />
  <package id="Vlc.DotNet.Wpf" version="3.1.0" targetFramework="net461" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net461" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net461" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net461" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net461" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net461" />
</packages>